doctype html
html
    head
        title= title
        meta(content='text/html; charset=utf-8', http-equiv='Content-Type')
        meta(name='keywords', content='Fireworks Divingstar')
        meta(name='description', content="Fireworks")
        meta(name='author', content='oes')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='/css/socketview.css')
    body
        block content
        script(src='https://cdn.socket.io/socket.io-1.2.0.js')
        script(src='http://code.jquery.com/jquery-1.11.1.js')
        script(src='/js/socket_test.js')