extends layout

block css
  link(rel='stylesheet', href='/css/chicken_app.css')
  link(rel='stylesheet', href='/css/coffee_app.css')
  link(rel='stylesheet', href='/css/vote_app.css')
  link(rel='stylesheet', href='/css/socketlink.css')

block content
  #app

block js
  script(src='/js/bundle.js')
  script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
  script(src='http://cdnjs.cloudflare.com/ajax/libs/three.js/r73/three.min.js')
  script(src='http://cdnjs.cloudflare.com/ajax/libs/gsap/1.14.2/TweenMax.min.js')
  script(src='/js/effect.js')