extends layout

block css
  link(rel='stylesheet', href='/css/chicken_app.css')
  link(rel='stylesheet', href='/css/coffee_app.css')
  link(rel='stylesheet', href='/css/socketlink.css')

block content
  #app

block js
  script(src='/js/bundle.js')