doctype html
html
  head
    title= title
    meta(content='text/html; charset=utf-8', http-equiv='Content-Type')
    meta(name='keywords', content='Fireworks Divingstar')
    meta(name='description', content="Fireworks")
    meta(name='author', content='Jaeeo')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/css/style.css')
  body
    block content
    script(src='/js/bundle.js')