@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);

@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

html{
  margin: 0;
  padding: 0;
  font-family: Nanum Gothic;
}
body, p, h1, h2, h3, h4, h5{
  margin: 0;
  padding: 0;
}

.fade-enter {
  overflow: hidden;
  opacity: 0.5;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity .3s ease-in .3s;
}

.fade-leave {
  opacity: 1;
}
.fade-leave.fade-leave-active {
  opacity: 0.5;
  transition: opacity .3s ease-in;
}