html, body, #app, #app>div, main{
    width : 100%;
    height : 100%;
}

.bg_div{
    position: absolute;
    width: 100%;
    height: 100%;
}

.bg_div .bg_wrapper{
    position: relative;
    width: 100%;
    height: 100%;
}
.bg_div .bg_wrapper img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.bg_div .bg_wrapper .bg{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -500;
}

.bg.spring{
    background-color: #FBBBBB;
}
.bg.summer{
    background-color: #008DC8;
}
.bg.autumn{
    background-color: #361800;
}
.bg.winter{
    background-color: #C2FFF4;
}

.grid_menu{
    position: relative;
    height: 80%;
    top: 50%;
    transform: translate(0, -50%);
}

.grid_01{
    width: 30%;
    height: 100%;
    z-index: 500;
    margin: 0px 3px 0 3px;
    top: 50%;
    left: 4%;
    transform: translate(0, -50%);
    position: absolute;
}

.grid_02{
    width: 30%;
    height: 100%;
    z-index: 500;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.grid_03{
    width: 30%;
    height: 100%;
    z-index: 500;
    margin: 0px 3px 0 3px;
    top: 50%;
    right: 4%;
    transform: translate(0, -50%);
    position: absolute;
}

.grid_01_relative, .grid_02_relative, .grid_03_relative{
    position: relative;
    width : 100%;
    height : 100%;
}

.grid_02_relative .menu_list:nth-child(1){
    height: 36%;
}
.grid_02_relative .menu_list:nth-child(2){
    height: 16%;
    position: relative;
}

.menu_list{
    width: 100%;
    height: 8%;
    padding: 2.5px 0;
    /*opacity: 0.5;*/
}
.menu_list_wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    background:  -webkit-linear-gradient(90deg,rgba(50,50,50,0.5),rgba(0,0,0,0.5),rgba(50,50,50,0.5));
    border: 1.5px solid rgba(255,255,255,0.1);
}

div>span{
    color: #fff;
    font-size: 23px;
    font-weight: bold;
    text-shadow: 3px 3px 7px #000000;
}

.menu_name_second_group{
    position: absolute;
    right:30px;
    top: 50%;
    transform: translate(0, -50%);
}

.menu_name_first_group{
    position: absolute;
    right:30px;
    top: 50%;
    transform: translate(0, -50%);
}

.menu_list_wrapper.best .menu_name{
    font-size: 60px;
    /*font-family:'BM JUA','배달의민족 주아',sans-serif;*/
    font-family: 'BM HANNA','배달의민족 한나', sans-serif;
    color: #fff;
    left: auto;
    right: 30px;
    max-width : 55%;
    top: 30%;
    transform: translate(0, -30%);
    -webkit-text-stroke: 1.5px #AA7942;
    line-height: 130%;
}
.menu_list_wrapper.second .menu_name{
    font-size: 35px;
    color: orange;
    left: auto;
    right: 30px;
    max-width : 70%;
    top: 30%;
    transform: translate(0, -30%);
}

.menu_list_wrapper.third .menu_name{
    animation: fireburn .65s ease-in-out infinite alternate;
}

@keyframes fireburn
{
    0% {text-shadow: 0 0 10px #fefcc9,
    2px -2px 10px #feec85,
    -5px -5px 10px #ffae34,
    5px -10px 13px #ec760c,
    -5px -15px 15px #cd4606,
    0 -20px 17px #973716,
    3px -22px 20px #451b0e;}
    100% {text-shadow: 0 0 10px #fefcc9,
    3px -2px 7px #fefcc9,
    -5px -5px 10px #feec85,
    6px -11px 15px #ffae34,
    -6px -14px 12px #ec760c,
    0 -20px 20px #cd4606,
    3px -22px 20px  #973716;}
}


.menu_name{
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translate(0, -50%);
    letter-spacing: -1px;
}
.menu_list_wrapper.best .menu_price{
    top: 80%;
    transform: translate(0, -30%);
    font-size: 35px;
}
.menu_list_wrapper.second .menu_price{
    top: 70%;
    font-size: 28px;
    transform: translate(0, -30%);
}

.menu_price{
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translate(0, -50%);
}

.menu_list_wrapper.best img{
    position: absolute;
    width: 35%;
    left: 5px;
    top: -25%;
    transform: translate(0, -50%);


    animation-name: rint;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-funtion: linear;
}

@keyframes rint{
    0% { transform: rotate(0deg);}
    100% { transform: rotate(15deg);}
}

.menu_list_wrapper.second img{
    position: absolute;
    width: 15%;
    left: 10%;
    top: 50%;
    transform: translate(0, -50%);
}

.menu_list_nobg{
    position: relative;
    width: 100%;
    height: 12%;
    background-color: rgba(0,0,0,0);
}

.menu_list_nobg span{
    position: absolute;
    top: 40%;
    width: 100%;
    height: 60%;
    transform: translate(0, -50%);
    border-bottom: 2.5px solid orange;
}