.bg_div{
    position: absolute;
    width: 100%;
    height: 100%;
}

.bg_div .bg_wrapper{
    position: relative;
    width: 100%;
    height: 100%;
}
.bg_div .bg_wrapper img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.bg_div .bg_wrapper .bg{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -500;
}

.bg.spring{
    background-color: #FBBBBB;
}
.bg.summer{
    background-color: #008DC8;
}
.bg.autumn{
    background-color: #361800;
}
.bg.winter{
    background-color: #C2FFF4;
}

.grid_menu{
    position: relative;
    height: 80%;
    top: 50%;
    transform: translate(0, -50%);
}

.grid_01{
    width: 30%;
    height: 100%;
    z-index: 500;
    margin: 0px 3px 0 3px;
    top: 50%;
    left: 4%;
    transform: translate(0, -50%);
    position: absolute;
}

.grid_02{
    width: 30%;
    height: 100%;
    z-index: 500;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.grid_03{
    width: 30%;
    height: 100%;
    z-index: 500;
    margin: 0px 3px 0 3px;
    top: 50%;
    right: 4%;
    transform: translate(0, -50%);
    position: absolute;
}

.grid_01_relative, .grid_02_relative, .grid_03_relative{
    position: relative;
    width : 100%;
    height : 100%;
}

.grid_02_relative .menu_list.best{
    height: 36%;
}
.grid_02_relative .menu_list.second{
    height: 16%;
    position: relative;
}

.menu_list{
    position: relative;
    width: 100%;
    height: 8%;
    padding: 2.5px 0;
}
.transition_wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 2.5px 0;
}

.menu_list_wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    background:  -webkit-linear-gradient(90deg,rgba(50,50,50,0.5),rgba(0,0,0,0.5),rgba(50,50,50,0.5));
    border: 1.5px solid rgba(255,255,255,0.1);
}

.menu_list_wrapper .fire{
    position: absolute;
    width: 100%;
    height: 100%;
}

div>span{
    color: #fff;
    font-size: 23px;
    font-weight: bold;
    text-shadow: 3px 3px 7px #000000;
}

.menu_name_second_group{
    position: absolute;
    right:30px;
    top: 50%;
    transform: translate(0, -50%);
}

.menu_name_first_group{
    position: absolute;
    right:30px;
    top: 50%;
    transform: translate(0, -50%);
}

.menu_list.best .menu_name{
    font-size: 60px;
    font-family: 'BM HANNA';
    color: #fff;
    word-break:keep-all;
    left: 25%;
    max-width : 55%;
    top: 30%;
    transform: translate(0, -20%);
    font-weight: 900;
    -webkit-text-stroke: 1.5px #AA7942;
    line-height: 100%;
}
.menu_list.second .menu_name{
    font-size: 33px;
    color: #fece89;
    left: 25%;
    max-width : 70%;
    top: 30%;
    transform: translate(0, -30%);
}

.menu_list.third .menu_name{
    animation: fireburn .65s ease-in-out infinite alternate;
}

@keyframes fireburn
{
    0% {text-shadow: 0 0 10px #fefcc9,
    2px -2px 10px #feec85,
    -5px -5px 10px #ffae34,
    5px -10px 13px #ec760c,
    -5px -15px 15px #cd4606,
    0 -20px 17px #973716,
    3px -22px 20px #451b0e;}
    100% {text-shadow: 0 0 10px #fefcc9,
    3px -2px 7px #fefcc9,
    -5px -5px 10px #feec85,
    6px -11px 15px #ffae34,
    -6px -14px 12px #ec760c,
    0 -20px 20px #cd4606,
    3px -22px 20px  #973716;}
}


.menu_name{
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translate(0, -50%);
    letter-spacing: -1px;
}
.menu_list.best .menu_price{
    top: 75%;
    left: 25%;
    transform: translate(0, -30%);
    font-size: 35px;
}
.menu_list.second .menu_price{
    top: 70%;
    left: 25%;
    font-size: 28px;
    transform: translate(0, -30%);
}

.menu_price{
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translate(0, -50%);
}

.menu_list.best .menu_img{
    position: absolute;
    width: 40%;
    left: -5%;
    top: 0;
    transform: translate(0, -50%);


    animation-name: rint;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-funtion: linear;
}

@keyframes rint{
    0% { transform: rotate(0deg);}
    100% { transform: rotate(15deg);}
}

.menu_list.second .menu_img{
    position: absolute;
    width: 15%;
    left: 5%;
    top: 50%;
    transform: translate(0, -50%);
}
.menu_rank{
    float: right;
    position: relative;
    height: 100%;
    width: 17%;
    right: 5%;
}

.unrank{
    position: absolute;
    top: 50%;
    width: 100%;
    padding-top: 100%;
    background-color: #000000;
    border: 1px solid #ffffff;
    border-radius: 100%;
    transform: translate(0, -50%);
}

.menu_list.best .menu_ordered{
    top: 55%;
}

.menu_ordered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    color: #ffffff;
}

.menu_rank img{
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translate(0, -50%);
}

.menu_list_nobg{
    position: relative;
    width: 100%;
    height: 12%;
    background-color: rgba(0,0,0,0);
}

.menu_list_nobg span{
    position: absolute;
    top: 40%;
    width: 100%;
    height: 60%;
    transform: translate(0, -50%);
    border-bottom: 2.5px solid orange;
}

.best .heart{
    top: 45%;
}

.heart{
    display: none;
    position: absolute;
    top: 30%;
    right: 5px;
    width: 50px;
    height: 80px;
    transform: translate(50%, -50%);
    background-size: 6000% 100% !important;
    animation: play 2s steps(60) infinite;
    background: url('/img/coffee/heart.png') left center;
}

@keyframes play {
    100% { background-position: -6000%; }
}

.heart.disappear-enter{
    display: block;
}

.winter .smoke{
    position: absolute;
    left: 5%;
    top: -20%;
    width: 40%;
    height: 65%;
    background-size: 3000% 100% !important;
    animation: play_smoke 3s steps(30) infinite;
    background: url('/img/coffee/smoke.png') left center;
    opacity: .7;
}
.flare_light{
    opacity: .7;
    transform-origin: top left;
    animation-name: flare_rint;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-funtion: linear;
}
.flare_bg{
    animation-name: flare_opacity;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-funtion: linear;
}

@keyframes flare_rint{
    0% { transform: rotate(-15deg);}
    100% { transform: rotate(15deg);}
}
@keyframes flare_opacity{
    0% { opacity:.7;}
    50% { opacity:1;}
    100% {opacity:.7;}
}


canvas{
    position: absolute;
    display: none;
}
canvas.autumn{
    display: block;
}

@keyframes play_smoke {
    100% { background-position: -3000%; }
}

@media (max-width: 1400px){
    div>span {
        font-size: 18px;
    }

    .menu_list.best .menu_name {
        font-size: 50px;
    }

    .menu_list.second .menu_name {
        font-size: 28px;
    }

    .menu_list.best .menu_price{
        font-size: 30px;
    }

    .menu_list.second .menu_price{
        font-size: 23px;
    }

    .menu_ordered{
        font-size: 30px;
    }
}

@media (max-width: 1200px){
    .menu_list.best .menu_name {
        font-size: 40px;
    }

    .menu_list.second .menu_name {
        font-size: 23px;
    }

    .menu_list.best .menu_price{
        font-size: 25px;
    }

    .menu_list.second .menu_price{
        font-size: 20px;
    }

    .menu_ordered{
        font-size: 25px;
    }
}

@media (max-width: 1000px){
    div>span {
        font-size: 13px;
    }
    .menu_list.best .menu_name {
        font-size: 30px;
    }

    .menu_list.second .menu_name {
        font-size: 18px;
    }

    .menu_list.best .menu_price{
        font-size: 20px;
    }

    .menu_list.second .menu_price{
        font-size: 15px;
    }

    .menu_ordered{
        font-size: 20px;
    }
}
